.home__top-container {
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-image: url(/assets/img/orange_pattern_250x110.9b38f141f7624e3e6e0d7d08c5b81e24.png);
    background-repeat: no-repeat;
    background-position: top left;

    transition-duration: 0.5s
}

.home__top {
    margin-left: 8.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.home__tagline {
    color: #119da4;
    font-size: 1.8rem;
    font-style: italic
}

.home__baseline {
    color: #000;
    font-size: 1.5rem;
    font-style:  normal;
}
.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}
.home__form {
    position: relative;
    text-align: left;
    width: 100%
}

.home__logo img {
    vertical-align: middle;
    width: 180px
}

.browse-category {
    width: 100%;
    height: 140px;
    background-image: url(/assets/img/blue_pattern_487x208.00c8523….png);
    background-repeat: no-repeat;
    background-position: top right;
    visibility: visible;
}

.browse-category__link {
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 1.6rem;
    color: #119da4;
}

.recommandation {
    background-color: #fff;
    background-image: url(/assets/img/blue_pattern_250x110.35fc95f….png);
    background-repeat: no-repeat;
    background-position: top left;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.recommandation__title {
 
    text-align: center;
    font-size: 1.2rem;
    font-style:  normal ;
    color: #000;
}

.recommandation__content_new {
    flex: 0 1 100%;
    margin: 5em 0;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.recommandation__link {
    flex: 0 0 50%;
    text-decoration: none;
    border: 1px solid #edf3ff;
    font-size: 1.8rem;
    font-weight: bold;
    color: #f56026;
    text-align: center;
    min-width: 0;
    padding: 1.5em 0 1.5em 0;
    flex: 0 0 50%;
}

.recommandation__img {
    max-width: 80px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.recommandation__label {
    display: block;
    margin: 0 1em;
    padding-top: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}

.recommandation__link {
    flex: 0 0 50%;
    text-decoration: none;
    border: 1px solid #edf3ff;
    font-size: 1.8rem;
    font-weight: bold;
    color: #f56026;
    text-align: center;
    min-width: 0;
    padding: 1.5em 0 1.5em 0;
    flex: 0 0 50%;
}

.categories__list {
    margin: 2rem 0 0 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}

.categories__title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.home {
    background-color: #fff;
}

.browse-category__link:after {
    content: "";
    display: block;
    border-left: 2px solid #119da4;
    border-bottom: 2px solid #119da4;
    transform: rotate(-45deg);
    height: 10px;
    width: 10px;
    margin: 4px auto;
}
